.footer {
    width: 100%;
    margin: 0;
    bottom: 0;
    background: linear-gradient(135deg, rgb(75, 121, 110) 0%,rgb(24, 54, 88) 0%,rgb(66, 97, 90) 0%,rgb(68, 104, 121) 100%);
    color: white;
    text-decoration:none;
    transition: .3s;
}




.footer-links:hover {
    color:grey
}

.footer-right {
    
}

// .footer-left {

// }